NGINX_PORT=80

COMPANY_NAME=Prime Axis BG Ltd.
CONTACT_EMAIL=info@primeaxisbg.eu
CONTACT_PHONE=+359 888 102 811
CONTACT_PHONE_HREF=+359888102811
CONTACT_ADDRESS=Dr. Petar Skorchev St. 7, 9010 Varna, Bulgaria
WHATSAPP_URL=https://wa.me/359888102811
TELEGRAM_URL=https://t.me/primeaxisbg
WEBSITE_LABEL=primeaxisbg.eu
FOOTER_LOCATION=Varna, Bulgaria
